$navbar-default-bg: rgba(80, 162, 216, 1);
/* $navbar-default-bg: rgba(214, 76, 81, 1); */
/* $navbar-default-bg: rgba(51, 63, 24, 1); */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar .nav > li > a {
    color:  #fff;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: black;
  text-decoration: none;
}

.jumbotron {
  background-image: asset-url('Salt_Lake_City.png');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  color: black;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: rgba(80, 162, 216, 1);
  border: 1px solid rgba(80, 162, 216, 1);
}

.btn-xlarge:hover {
  background-color: black;
  border: 1px solid black;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
  padding-top: 15px;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #cef6f5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}